.grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap:4%;
    height: 80vh;
    width: 100vw;
    padding:5%;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content:space-around;
    flex-direction:column;
}
.addBook{
    display: flex;
    justify-content:space-around;
}

.card{
    background-color: whitesmoke;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20%;
}